gitdb==4.0.10
GitPython==3.1.37
ipykernel==6.25.1
ipython==8.14.0
numpy==1.26.0
openpyxl==3.1.2
packaging==23.1
pandas==1.5.3
parso==0.8.3
pickle-mixin==1.0.2
pickleshare==0.7.5
Pillow==10.0.1
